*{
margin: 0;
padding: 0;
}

h1 {
 size: 33px;
 color: blue;
}

body{
    background-color: rgb(82, 87, 87);
}

.container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
    grid-auto-rows: 100px;
}

.container div{
background-color: rgb(154, 154, 228);
padding: 20px;
}

.container > .element-1 {
    background-color: darkmagenta;
    grid-column: 1/5;
}

.container > .element-2 {
    background-color: red;
    grid-column: 1/3;
    grid-row: 2/4;

    /* Divido en columnas el contenido de 2 */
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    grid-auto-rows: auto;
}

.container > .element-3,
.container > .element-4 {
    grid-row:2/4;
}
.container > .element-5 {
    background-color: darkmagenta;
    grid-column: 1/5;
}


.container > .element-3{
    /* alinea y justifica horizontal */
   justify-self: center;  
      /* alinea y justifica vertical */
align-self: center;
 
}
.container > .element-2{
    background-color: skyblue;
 
}

.container > .element-2 > div{
    background-color: rgb(94, 86, 122);
    
}